swagger: '2.0'
info:
  version: 2024-01-01-preview
  title: RADNAC REST API
  description: Azure REST API
host: management.azure.com
schemes:
  - https
security:
  - azure_auth:
      - user_impersonation
securityDefinitions:
  azure_auth:
    description: Microsoft Entra ID OAuth2 Flow
    type: oauth2
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Solutions/applications/{resourceName}/customping:
    post:
      operationId: pingAction
      description: Initiate an ICMP ping to the service(s)
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroup'
        - $ref: '#/parameters/resourceName'
        - $ref: '#/parameters/apiVersion'
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: success
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Solutions/applications/{resourceName}/custombackup:
    post:
      operationId: backupAction
      description: Create a backup by using HTTP PUT from the provided URL
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroup'
        - $ref: '#/parameters/resourceName'
        - $ref: '#/parameters/apiVersion'
        - name: parameters
          description: Parameters to the backup function
          in: body
          schema:
            $ref: '#/definitions/backup'
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '204':
          description: success
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Solutions/applications/{resourceName}/customrestore:
    post:
      operationId: restoreAction
      description: Restore a backup by using HTTP GET from the provided URL
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroup'
        - $ref: '#/parameters/resourceName'
        - $ref: '#/parameters/apiVersion'
        - name: parameters
          description: Parameters to the backup function
          in: body
          required: true
          schema:
            $ref: '#/definitions/backup'
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '204':
          description: success
definitions:
  backup:
    description: Parameters for the backup action
    properties:
      url:
        type: string
        description: URL location for the backup
        pattern: ^https?://
        example: https://storageaccount.blob.core.windows.net/container/file?sp=rw&st=2024-01-01T10:00:00Z&se=2024-01-01T10:15:00Z&spr=https&sv=2022-11-02&sr=b&sig=...
    required:
      - url
parameters:
  subscriptionId:
    name: subscriptionId
    description: The subscription ID
    type: string
    in: path
    required: true
    minLength: 36
    maxLength: 36
    pattern: ^[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$
  # https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftresources
  resourceGroup:
    name: resourceGroup
    description: Resource group name (not case sensitive)
    type: string
    in: path
    required: true
    minLength: 1
    maxLength: 90
    pattern: ^[\w._()-]+(?!\.)$
  # https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftcustomproviders
  resourceName:
    name: resourceName
    description: Resource name (not case sensitive)
    type: string
    in: path
    required: true
    minLength: 3
    maxLength: 64
    pattern: ^[\w._()-]+(?!\.)$
  # https://learn.microsoft.com/en-us/rest/api/customproviders/
  apiVersion:
    name: api-version
    description: Azure ARM Resource API version
    type: string
    in: query
    required: true
    enum:
      - 2018-09-01-preview
